@{
    ViewBag.Title = "RenderPageBottom";
}
<div id="bottompart">
    <div class="ordersquares">
        Ord. pris ... Kr
        <h2>...Kr</h2>
        Köp idag betala imorgon!
    </div>
    <div class="ordersquares">
        Ord. pris ... Kr
        <h2>...Kr</h2>
        Köp idag betala imorgon!
    </div>
    <div class="ordersquares">
        Ord. pris ... Kr
        <h2>...Kr</h2>
        Köp idag betala imorgon!
    </div>
</div>
