@using WebShop.DataCore.Models
@model List<Product>
@{
    ViewBag.Title = "Compare";
    ViewBag.Url = Request.QueryString;
}
<div id="compare" class="clearfix">
    <div class="comparetable">
        <table>
        <tr>
        
        <td>Product
        </td>
        <td>
        Pris
        </td>
  
        </tr>
         
            @foreach (var product in Model)
            {
       
       
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Pris
                    </td>
                </tr>

            }
         
        </table>
    </div>
</div>
